@use "../../styles/globals.scss" as g;

.app-button {
  align-items: center;
  background-color: g.$button-background-color;
  border-radius: g.$common-border-radius;
  border: 2px solid;
  border-color: g.$button-border-color;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  opacity: 1;
  padding: .6rem 1rem;
  transition: 
    background-color g.$ui-fast-transition, 
    border-color g.$ui-fast-transition, 
    color g.$ui-fast-transition, 
    opacity g.$ui-fast-transition;

  &:hover:not(:disabled) {
    background-color: g.$button-hover-background-color;
    border-color: g.$button-border-hover-color;
    cursor: pointer;

    &.delete-unlocked { 
      background-color: g.$delete-unlocked-fill-color;
      border-color: g.$delete-unlocked-fill-color;
    }
  }

  &:disabled {
    opacity: .5;
  }

  &.diagnostic-button {
    color: g.$diagnostic-window-font-color;
    width: 100%;

    &:hover {
      background-color: g.$diagnostic-button-background-hover-color;
      border-color: g.$diagnostic-button-border-hover-color;
      color: g.$diagnostic-button-font-hover-color;
    }

    &:not(:first-child) {
      margin-top: .5rem;
    }
  }

  &.delete-unlocked {
    color: g.$delete-unlocked-font-color;
  }

  &.diagnostic-window-button {
    &:hover { 
      // background-color: g.$diagnostic-window-button-hover-color;
      color: g.$diagnostic-window-button-hover-color;
      border-color: g.$diagnostic-window-button-hover-color;
    }
  }
}

.button-icon-wrapper {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  margin-right: .5rem;
  pointer-events: none;
  justify-content: center;

  &.no-margin {
    margin-right: 0rem;
  }

  &.waiting {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}