@use "../../styles/globals.scss" as g;

.board, .board-row, .board-square {
  font-family: g.$mono-font;
}

.board {
  // align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  // DEBUG
  // background-color: red;
}

.board-row {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  
  
  // DEBUG
  // background-color: blue;
  // border-top: 1px solid yellow;
}

.board-square {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  // DEBUG
  // background-color: green;

  svg {
    // height: 
    // width: 100%;
  }
}