// common sizes/variables
$common-border-radius: 12px;
$common-box-shadow: 0px 4px 4px rgba(25,25,25,0.25);
$common-padding: 1rem;
$common-margin: 1rem;
$section-header-font-size: 1.4rem;

// fonts
$body-font: "Inter Tight";
$mono-font: "JetBrains Mono";

// transition times
$ui-fast-transition: 100ms;

// specific sizes
$app-padding-top: 5.4rem;
$app-body-padding: .5rem;
$message-icon-font-size: 10rem;

// colors (specific)
$dark-gray-100: #626466;
$dark-gray-200: #4c4e50;
$dark-gray-300: #353638;
$light-gray-100: #edeff2;
$light-gray-200: #d8dbde;
$light-gray-300: #c8cbce;
$light-gray-400: #a4a9ae;
$red-100: #ff6666;
$red-200: #da4c4c;
$red-300: #c02a2a;

$square-gray: #35363866;

// colors (role)
$app-background-color: $light-gray-200;
// should be darker than $app-background-color; used for highlighting active areas
$border-highlight-color: $light-gray-300;
// $button-background-color: $light-gray-200;
$button-background-color: transparent;
$button-border-color: $light-gray-200;
$button-border-hover-color: $dark-gray-200;
$button-hover-background-color: transparent;
// $button-hover-background-color: $light-gray-200;
$diagnostic-button-font-hover-color: $dark-gray-300;
$diagnostic-window-background-color: $dark-gray-300;
$diagnostic-window-button-hover-color: $dark-gray-200;
$diagnostic-window-font-color: $light-gray-100;
$error-message-background-color: $red-100;
$error-message-border-color: $red-200;
$error-message-font-color: $error-message-border-color;
$login-container-background-color: $dark-gray-300;
$pane-background-color: $light-gray-100;
$control-bar-background-color: $pane-background-color;
$square-border-color: $square-gray;
$square-hover-color: $red-100;
$text-input-active-border-color: $dark-gray-200;
$text-input-error-border-color: $red-100;

// $a: #65ff0ff
// #71821ff
// #e0f8cfff
// #86c06cff
// #306850ff

@mixin section-header-styles {
  font-size: $section-header-font-size;
  margin-top: 0rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid $button-border-color;
}

// set responsive widths

// responsive breakpoints
$xs-breakpoint: 375px;
$s-breakpoint: 768px;
$m-breakpoint: 1280px;
$l-breakpoint: 1920px;

// mixins
@mixin set-responsive-widths($xs-width, $s-width, $m-width, $l-width) {
  //375px
  width: $xs-width;

  //768px
  @media (min-width: $s-breakpoint) {
    // margin: 0 auto;
    width: $s-width;
  }
  //1280px
  @media (min-width: $m-breakpoint) {
    width: $m-width;
  }
  //1920px
  @media (min-width: $l-breakpoint) {
    width: $l-width;
  }
}

@mixin standard-responsive-widths {
  //375px
  width: 100%;

  //768px
  @media (min-width: $s-breakpoint) {
    // margin: 0 auto;
    width: 768px;
  }
  //1280px
  @media (min-width: $m-breakpoint) {
    width: 1024px;
  }
  //1920px
  @media (min-width: $l-breakpoint) {
    width: 1440px;
  }
}
