@use "../../styles/globals.scss" as g;

.control-bar {
  align-items: center;
  background-color: g.$control-bar-background-color;
  border-radius: g.$common-border-radius;
  display: flex;
  left: g.$app-body-padding;
  justify-content: space-between;
  padding: 1rem 1rem;
  position: fixed;
  top: g.$app-body-padding;
  width: calc(100vw - g.$app-body-padding - g.$app-body-padding);
  // to have control bar persist with loading screens
  z-index: 11;

  &.shadow-active {
    box-shadow: g.$common-box-shadow;
  }
}

.logo {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1rem;
}

.grid-icon {
  margin-right: 1rem;
  transform: scale(1.6);
  width: 1rem;
}

.controls-wrapper {
  display: flex;

  .app-button {
    margin-left: g.$common-margin;
  }
}
