@use "../../styles/globals.scss" as g;

$background-opacity: .6;

.login-window-container { 
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: rgba(g.$login-container-background-color, $background-opacity);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0%;
  position: fixed;
  transition: opacity g.$ui-fast-transition;
  top: 0;
  width: 100vw;
  z-index: -100;
  // visibility: hidden;

  &.active {
    // visibility: visible;
    opacity: 100%;
    z-index: 10;
  }
}

.login-window-wrapper {
  $login-window-width: 512px;

  align-items: center;
  background-color: g.$pane-background-color;
  // border: 2px solid g.$button-border-hover-color;
  border-radius: g.$common-border-radius;
  box-shadow: 0px 12px 32px #00000033;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  
  @include g.set-responsive-widths(100%, $login-window-width, $login-window-width, $login-window-width);
}

.login-form { 
  width: 65%;
}

.login-button {
  margin-top: 3rem;
}