@use "../../styles/globals.scss" as g;

.image-viewer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - g.$app-padding-top - g.$app-body-padding - g.$app-body-padding);
  justify-content: space-between;
}

.implementation-details {
  display: none;
}

.drop-zone {
  align-items: center;
  // background-color: transparent;
  // background-color: greenyellow;
  border: 2px solid g.$app-background-color;
  border-radius: g.$common-border-radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: 
    background-color g.$ui-fast-transition, 
    border g.$ui-fast-transition;
  width: 100%;

  &.active, &:hover:not(.has-image) {
    background-color: g.$app-background-color;
    // border: 2px solid g.$border-highlight-color;
    // background-color: red;
  }

  &:hover {
    cursor: pointer;
  }


  &.has-image {
    border-color: transparent;
    height: auto;

    &:hover {
      cursor: default;
    }
  }
}

.image-error-message {
  background-color: g.$error-message-background-color;
  border: 2px solid g.$error-message-border-color;
  border-radius: g.$common-border-radius;
  font-weight: bold;
  margin-bottom: g.$common-margin;
  padding: g.$common-padding;
}


.drop-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  &.has-image {
    display: none;
  }
}

.drop-message-icon-wrapper {
  svg {
    font-size: g.$message-icon-font-size;
  }
}

.puzzle-grid-header {
  @include g.section-header-styles();
}

.loaded-image-wrapper {
  background-color: blue;
  width: 100%;
}

.loaded-image {
  border-radius: g.$common-border-radius;
  // background-color: red;
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}

.parse-canvas { 
  // hidden to not affect layout, but still exist in the rendered DOM
  left: -9999px;
  position: absolute;
}

.image-viewer-controls {
  align-items: center;
  display: flex;
}

.image-viewer-controls-opacity-slider-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  margin-left: 1rem;

  label {
    font-weight: bold;
    font-size: .8rem;
    text-align: center;
  }
}

.image-viewer-controls-opacity-slider {
  -webkit-appearance: none;
  background-color: transparent;
  background-color: g.$opacity-slider-background-color;
  border: 2px solid g.$opacity-slider-background-color;
  border-radius: 1rem;
  outline: none;
  height: .75rem;
  width: 100%;

  &::-webkit-slider-thumb {
    background-color: g.$opacity-slider-thumb-color;
    border: 0px;
    border-radius: 1rem;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
  }
  &::-moz-range-thumb {
    background-color: g.$opacity-slider-thumb-color;
    border: 0px;
    border-radius: 1rem;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
  }
}
